*{
	font-family: verdana;
}
body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;	
}
h2{			
	text-align: center;
	font-size:40px;
	background-color: orange;
}
#lol{
	float:right;
	position:relative;
	right:300px;
}
.active{
	background-color: green;
	color:white;
}

.logo{
	position:absolute;
	top:20px; 
	left:20px;
	opacity:0.99;
	z-index: 1;
}
.namaste{
	
	position:absolute;
	top:20px;
	right:20px;
	opacity:0.99;
	z-index: 1;
}
a.title{
	text-decoration:none;
	color: darkgreen;
	font-family:verdana;
	font-size:50px;
	word-spacing:9px;
	/*font-weight: bold;*/
}
.top_nav{
	list-style-type:none;
	background-color:rgba(125,125,125,0.9);
	padding:10px;
	
}
.top_nav li{
	display:inline;
	padding-right:10px;
}

.top_nav li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-family: verdana;
	padding:20px;
	position:relative;
	left:150px;
}
.top_nav li a:hover{
	background-color:black;
	color:white;

}
.top_nav li a:active{
	background-color: green;
	color:black;
}
.other{
	padding:0;
	margin:0;
	position:relative;
	left:210px;
	top:100px;
}
.other p{
	color:darkgreen;
	font-size: 30px;
	font-weight:bolder;
	padding-top:18px;
	padding-bottom: 18px;
	padding-left:35px;
	background-color: orange;
	border:2px solid green; 
	height:40px;
	margin:0;
}
.other p:first-child{
	border-bottom: none;
}
.other p:last-child{
	border-top:none;
}
#q1{
	width:800px;
}
#q2{
	width:900px;
}
#q3{
	width:1000px;
}
::selection{
	background-color: yellow;color:red;
}

.foot{
	/*text-align: center;*/
	background-color: grey;
	color:white;
	position:relative;
	top:280px;
	font-size:20px;
	max-width:100%;
	padding:10px;
	/*border:1px solid grey;*/
	
}
.foot_font{
	/*position: relative;
	left:280px;*/
	text-align: center;
}