*{
	font-family: verdana;
}
body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;	
}
h2{
	text-align: center;
	font-size:40px;
	background-color: orange;
}
#lol{
	float:right;
	position:relative;
	right:300px;
}
.active{
	background-color: green;
	color:white;
}

.logo{
	position:absolute;
	top:20px; 
	left:20px;
	opacity:0.99;
	z-index: 1;
}
}
#lol{
	float:right;
	position:relative;
	right:300px;
}
.active{
	background-color: green;
	color:white;
}
.namaste{
	
	position:absolute;
	top:20px;
	right:20px;
	opacity:0.99;
	height:150px;
	z-index: 1;
}
a.title{
	text-decoration:none;
	color: green;
	font-family:verdana;
	font-size:50px;
	word-spacing:9px;
}
.top_nav{
	list-style-type:none;
	background-color:rgba(125,125,125,0.9);
	padding:10px;
	
}
.top_nav li{
	display:inline;
	padding-right:10px;
}
.top_nav li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-family: verdana;
	padding:20px;
	position:relative;
	left:150px;
}
.top_nav li a:hover{
	background-color:black;
	color:white;

}
.top_nav li a:active{
	background-color: green;
	color:black;
}

article{
	position:relative;
	top:90px;
	left:19px;
}
.first{
	border:2px solid green;
	border-width: 4px;
	width:260px;
	float:left;
	padding:20px;
	margin:10px;
	text-align:center;
	color:black;
	background-color: rgba(225,225,225,0.8);
}
h3{
	border-bottom:5px dotted green;
	padding-bottom:20px;
}

.first :not(:first-child){
	color:black;
}